{{!-- Profile Component --}}
<div class="profile">
  <div class="profile__image">
    <img src="{{image}}" alt="{{name}}">
  </div>
  <div class="profile__content">
    <h2 class="profile__name">{{name}}</h2>
    <div class="profile__subtitle">{{subtitle}}</div>
  </div>
  <div class="profile__social">
    <img src="{{socials}}" alt="Social logins"/>
  </div>
</div> 